[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    __init__.py,
    migrations,

filename = *.py
accept-encodings = utf-8
inline-quotes = single

# for complex logics
max-complexity = 12

max-linenumber = 500
max-line-length = 119
multiline-quotes = double
